@model SweetAndSavory.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)<br>
    @Html.DropDownList("TreatId")<br>
    <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Show list of all flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Account")</p>