<h2>Register for an account</h2>

@model SweetAndSavory.ViewModels.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)<br><br>

  @Html.LabelFor(model => model.NickName)
  @Html.TextBoxFor(model => model.NickName)<br><br>

  @Html.LabelFor(model => model.Password)
  @Html.TextBoxFor(model => model.Password)<br><br>

  @Html.LabelFor(model => model.ConfirmPassword)
  @Html.TextBoxFor(model => model.ConfirmPassword)<br><br>

  <input type="submit" class="btn btn-primary" value="Register">
}

<p>@Html.ActionLink("Back", "Index", "Home")</p>