@model SweetAndSavory.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Flavors.Count == 0)
{
  <p>This treat does not contain any flavors</p>
}
else
{
  <h4>Associated Flavors:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Treat.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Home", "Index", "Account")</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.TreatId })</p>